node_modules
.env
# Môi trường ảo Python
venv/
env/
ENV/
.env/
.venv/
bin/
include/
lib/
share/
pyvenv.cfg
# AI Models & Weights
AI_service/models/*.keras
AI_service/models/*.h5

# Checkpoints & Logs
AI_service/models/checkpoints/
**/logs/
**/__pycache__/
__pycache__/
*.pyc